.attraction-name{
    font-weight: bolder;
    font-size: 1.25em;
}

.attraction-icon-box.BAD {
    color : red;
}
.attraction-icon-box.NEUTRAL {
    color : yellow;
}
.attraction-icon-box.GOOD {
    color : green;
}
.attraction-icon-box.NEW {
    color : black;
     transform: translate(-50%, -140%);
}

.rating-word {
  &.BAD {
    color : rgba(172, 2, 2, 0.911);
  }
  &.NEUTRAL {
    color : yellow;
  }
  &.GOOD {
    color : lightgreen;
  }
}